include README.md LICENSE.md
recursive-include src/dnt *.py *.yaml *.yml *.names
include src/dnt/track/reid_weights/osnet_x1_0_msmt17.pt
include src/dnt/detect/signal/weights/ped_signal.pt
global-exclude __pycache__ *.py[cod]
